/* Sticky footer styles */
html {
    background: #1a1e21;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 95px;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 15px;
}

/* Footer Copyright list */
ul.mt-copyright-list {
    list-style-type: none;
}

ul.mt-copyright-list li {
    display: inline-block;
}

ul.mt-copyright-list li:after {
    content: "|";
}

ul.mt-copyright-list li:last-child:after {
    content: "";
}

/* Section */
section {
    padding: 10px 0 20px 0;
}

/* Pastebin specific */
.pastebin-html textarea.form-control {
    /*noinspection CssUnknownProperty*/
    field-sizing: content;
}