<!--/*@thymesVar id="viewNameEnum" type="fr.marstech.mtlinkspray.enums.ViewNameEnum"*/-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <meta charset="UTF-8">
    <title th:text="${T(fr.marstech.mtlinkspray.objects.CommonConfs).SITE_TITLE}">Marstech - Link Spray</title>

    <!-- Bootstrap CSS - https://getbootstrap.com/docs/5.3/getting-started/introduction/ -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">

    <!-- Bootstrap Icons - https://icons.getbootstrap.com/ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

    <!-- https://bootswatch.com/pulse/ -->
    <link href="../static/assets/css/style.css" rel="stylesheet"
          th:href="@{'/assets/css/style.css'}">

    <!--  Marstech -->
    <link href="../static/assets/css/mt-style.css" rel="stylesheet"
          th:href="@{'/assets/css/mt-style.css'}">

    <link href="../static/assets/img/favicons/apple-touch-icon.png" rel="apple-touch-icon"
          sizes="180x180"
          th:href="@{'/assets/img/favicons/apple-touch-icon.png'}"/>
    <link href="../static/assets/img/favicons/favicon-48.png" rel="icon" sizes="48x48"
          th:href="@{'/assets/img/favicons/favicon-48.png'}"
          type="image/png"
    />
    <link href="../static/assets/img/favicons/favicon-32.png" rel="icon" sizes="32x32"
          th:href="@{'/assets/img/favicons/favicon-32.png'}"
          type="image/png"
    />
    <link href="../static/assets/img/favicons/favicon-16.png" rel="icon" sizes="16x16"
          th:href="@{'/assets/img/favicons/favicon-16.png'}"
          type="image/png"
    />
    <link href="../static/assets/img/favicons/manifest.json"
          rel="manifest"
          th:href="@{'/assets/img/favicons/manifest.json'}"
    />
    <meta content="#da532c" name="msapplication-TileColor"/>
    <meta content="#ffffff" name="theme-color"/>
</head>
<body>
<header th:fragment="body-header">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Marstech - Link Spray</a>
            <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler collapsed" data-bs-target="#navbarColor01" data-bs-toggle="collapse"
                    type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarColor01" style="">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"
                        th:with="view=${T(fr.marstech.mtlinkspray.enums.ViewNameEnum).SPRAY}">
                        <a class="nav-link"
                           href="/"
                           th:class="${viewNameEnum == view.name()} ? 'nav-link active' : 'nav-link'"
                           th:href="@{'/'+${view.getViewName()}}"
                           th:text="${view.getViewPage()}">
                            Spray page
                        </a>
                    </li>
                    <li class="nav-item"
                        th:with="view=${T(fr.marstech.mtlinkspray.enums.ViewNameEnum).SHORTENER}">
                        <a class="nav-link"
                           href="/"
                           th:class="${viewNameEnum == view.name()} ? 'nav-link active' : 'nav-link'"
                           th:href="@{'/'+${view.getViewName()}}"
                           th:text="${view.getViewPage()}">
                            Shortener page
                        </a>
                    </li>
                    <li class="nav-item"
                        th:with="view=${T(fr.marstech.mtlinkspray.enums.ViewNameEnum).ABUSE}">
                        <a class="nav-link"
                           href="/"
                           th:class="${viewNameEnum == view.name()} ? 'nav-link active' : 'nav-link'"
                           th:href="@{'/'+${view.getViewName()}}"
                           th:text="${view.getViewPage()}">
                            Abuse page
                        </a>
                    </li>
                    <li class="nav-item"
                        th:with="view=${T(fr.marstech.mtlinkspray.enums.ViewNameEnum).DASHBOARD}">
                        <a class="nav-link"
                           href="/"
                           th:class="${viewNameEnum == view.name()} ? 'nav-link active' : 'nav-link'"
                           th:href="@{'/'+${view.getViewName()}}"
                           th:text="${view.getViewPage()}">
                            Dashboard page
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="intro-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h3 th:text="${T(fr.marstech.mtlinkspray.objects.CommonConfs).SITE_TITLE}">Marstech - Link Spray</h3>

                <p>
                    Open multiple URLs in one click, shorten URL and many more.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="get-started">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                Explore the features of <span
                    th:text="${T(fr.marstech.mtlinkspray.objects.CommonConfs).SITE_TITLE}"></span>.
            </div>
        </div>
    </div>
</section>

<footer class="footer bg-black text-white" th:fragment="body-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    From Marstech for public use.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row text-center text-white">
                <div class="col-12">
                    <div class="footer-bottom__copyright">
                        <ul class="mt-copyright-list">
                            <li>
                                &COPY; Copyright 2021 <a href="https://marstech.fr/">Marstech</a>
                            </li>
                            <li>
                                Created by <a href="https://cv.marstech.fr/" target="_blank">
                                Stéphane ROBIN</a>
                            </li>
                            <li th:with="view=${T(fr.marstech.mtlinkspray.enums.ViewNameEnum).ABUSE}">
                                <a th:href="@{'/'+${view.getViewName()}}">Abuse report</a> page
                            </li>
                            <li>
                                Version: <span th:text="${@apiRootController.getVersion()}">App version</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="d-none" th:fragment="footer-div-script">
    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script crossorigin="anonymous"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- static/assets/js/mt-script.js -->
    <script th:src="@{'/assets/js/mt-script.js'}"></script>
</div>
</body>
</html>