<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{index.html :: html-head}">
    <title></title>
</head>
<body>

<header th:replace="~{index.html :: body-header}">
    <!-- nav bar-->
</header>

<section class="intro-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <h3>Open Multiple URLs at Once</h3>

                <p>
                    To open multiple URLs in one click, follow a few simple steps.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="get-started" th:with="view=${T(fr.marstech.mtlinkspray.enums.ViewNameEnum).SPRAY}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <form accept-charset="UTF-8"
                      action="/" method="post" th:action="@{'/'+${view.getViewName()}}">
                    <div class="mb-3">
                        <label class="form-label" for="inputLinkList">
                            Links
                        </label>
                        <!--/*@thymesVar id="linkListText" type="java.lang.String"*/-->
                        <textarea aria-describedby="inputLinkListHelp" class="form-control"
                                  id="inputLinkList" name="inputLinkList" rows="5"
                                  th:text="${linkListText?:''}">
                        </textarea>
                        <div class="form-text" id="inputLinkListHelp">
                            Fill in the URLs you wish to open, one URL by line.
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Generate URL</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!--/*@thymesVar id="linkList" type="java.util.List<java.lang.String>"*/-->
<section class="services" th:if="${linkList}">
    <div class="container">
        <div class="row align-items-center" th:if="${#lists.isEmpty(linkList)}">
            <div class="col">
                <p>Please provide some URLs in the text area above.</p>
            </div>
        </div>

        <!--/*@thymesVar id="linkSpray" type="java.lang.String"*/-->
        <div class="row" th:unless="${#strings.isEmpty(linkSpray)}">
            <div class="col">
                <p>
                    Generated URL : <code th:text="${linkSpray}"></code>
                </p>

                <p>
                    Test with the link: <a th:href="@{${linkSpray}}">Spray</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="get-started" th:unless="${#lists.isEmpty(linkList)}">
    <div class="container">
        <div class="row">
            <div class="col">
                <H5> Urls to open</H5>
                <ul>
                    <!--/*@thymesVar id="link" type="java.lang.String"*/-->
                    <li th:each="link: ${linkList}">
                        <a class="link" th:href="@{${link}}" th:text="${link}">The link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--/*@thymesVar id="spray" type="java.lang.String"*/-->
<section class="d-none" th:unless="${#lists.isEmpty(spray)}">
    <p>
        Spray :
    </p>
    <ul id="linkList">
        <li th:each="url : ${spray}"><a class="sprayLink" th:href="@{${url}}" th:text="${url}"></a>
        </li>
    </ul>
</section>

<footer class="footer bg-black text-white" th:replace="~{index.html :: body-footer}">
    <!-- footer -->
</footer>

<div class="d-none" th:replace="~{index.html :: footer-div-script}">
    <!-- footer script -->
</div>
</body>
</html>
